*{
    box-sizing: border-box;
}


.container{
    height: 400px;
    border: 2px solid red;
    /* gap: 40px 10px; */
    display: flex;
    /* flex-direction:column-reverse; */
    flex-wrap: wrap;
    /* flex-flow: wrap row; */

    justify-content:center;
    align-items: center;
    
}

.box{
    border: 2px solid green;
    height: 25%;
    
}

#box-1{
    
}

#box-4{
    flex: 0 2 200px;
    align-self: flex-start;
}