*{
    margin: 0;
    padding: 0;
    
}

.main{
    display: flex;
    
}

.items{
    width: 50% ;
    height:50vh ;
    border: 1px solid black;
    font-size: 40px;
}
div{
    background-color: blueviolet;
}




@media (max-width:786px){
    .main{
        flex-wrap: wrap;
    }
   .items{
    width: 20%;
   }
}

@media (max-width:480px){
    .main{
        
        flex-wrap: wrap;
        justify-content: space-around;
    }

    
}


@media (min-width:920px) and (max-width:990px){
    div{
        background-color: pink;
    }
    
    
}