div{
    margin: 100px;
    height: 300px;
    width: 300px;
    background-color: blue;
    transition-duration: 1s;
    transition-property: all;
    transition-delay: 0.5s;
    transition-timing-function: cubic-bezier(0.4,-0.53, 0.41, 0.84);
    
    
}

div:hover{
   border-radius: 50%;
    background-color: green;
    transform: scale(1.5);
    transform: rotate(360deg);
}


.list{
    display: flex;
    gap: 20px;
    list-style: none;
}

.item{
    font-size: 1.5rem;
    transition: 0.3s ease-in ;

}

.item:hover{
    background-color: gray;
    color: cornflowerblue;
    cursor: pointer;
    transform: translateY(-5px);
}