.parent{
    

}

.child{

}

.childOne{ 

}

.childTwo{ 


}

.childThree{
}

nav{
   position: sticky;
   top: 0px;
   text-align: center;
   width: 100%;
    color: brown;
    background-color: lightsalmon;
    padding: 30px;
}

.round{
    width: 20px;
    height: 20px;
    background-color: black;

}
