@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#0e3757;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#d69a3;
    --padding-inline-section: 20px;
}

body{
    font-family: 'Poppins', 'sans-serif';
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', Courier,;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

/* Utility Classes */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width:1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;
}

.hover-links{
    color: var(--primary-text-color);
    transition: 0.3s ease-out;
}

.hover-links:hover{
    color: var(--accent-color);
}

.primary-button{
    background-color:var(--accent-color) ;
    border-radius:6px;
    font-weight: 700;
    color: wheat !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;    
}

.primary-button:hover{
    background-color: rgb(26, 26, 137)
}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color);
    padding: 12px 24px;
}

.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color);
}

/* Top Banner */
.top-banner{
    background-image:url('./images/asset\ 32.png');
    background-color: #1848b1 ;
    background-size: 300px;
}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

/* NavBar */
.main-nav{
justify-content: space-between;
margin-top: 20px;
}

.company-logo img{
    width: 200px;
}

.nav-links ul{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

/* Header */

header{
    padding: 50px var(--padding-inline-section);
}

.header-section{
    justify-content: center;
    gap: 50px;
}
.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
}
.header-left p{
    margin-top: 20px;
}

.header-left a{
    margin-top: 20px;
}

.header-right img{
    width: 600px;
}

/* companies-section */

.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}

.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    height:48px;
}



/* features-section */

.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./images/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.features-header{
    text-align: center;

}

.features-header h2{
    margin-bottom: 20px;
}

.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin-top:20px;
    
}
.features-card{
    text-align: center;
    max-width: 30%;
    flex-direction: column;
    gap: 20px;
}


/* big-feature-section */

.big-fearure-section{
    padding-top: 30px;
}

.big-feature-container{
    gap: 30px;
}

.feature-image img{
    width: 100%;
}

.features-des{
    flex-direction: column;
    align-items: flex-start;
}


/* Examples-sections */

.example-header{

    flex-direction: column;
    gap: 20px;
}

.example-area{
    justify-content: space-between;
    margin-block: 20px;

}

.example-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8) ),url(./images/asset\ 36.jpeg);
    background-size: cover;
}



.card-text{
   position: absolute;
   bottom: 20px;
   left: 20px;
   right: 20px;
   color: white;
}